<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="PizzaHutTestSuite">
	<test name="pizzahut01" thread-count="5">
		<parameter name="location" value="Maddilapalem"></parameter>
		<parameter name="expectedProductName" value="Masala Keema Garlic Bread"></parameter>
		<parameter name="name" value="John Doe"></parameter>
		<parameter name="mobile" value="9985000000"></parameter>
		<parameter name="email" value="johndoe@gmail.com"></parameter>
		<parameter name="voucherCode" value="12345"></parameter>
		<parameter name="errorText" value="Sorry"></parameter>
		<parameter name="titleText" value="Your Basket"></parameter>
		<classes>
			<class name="tests.PizzaHutTestNGTest" />
		</classes>
	</test>
	
</suite> 
